@(initStartDate: String, initEndDate : String) 

@import views.html.helper._ 

@loggedin_main() {

<script src="/assets/javascripts/jquery.flot.js"></script>

<div class="span10">
	<div class="row-fluid">
	
		<div class="span12">
		    <div class="page-header">
		      <h1>
		        SystemMonitor
		      </h1>
		    </div>
		  </div>

		<ul class="nav nav-tabs">
			<li id="tab1" class="active">
				<a href="#">Monitor</a>
			</li>
			<li id="tab2">
				<a href="#">Nach Request-Methode</a>
			</li>
			<li id="tab3">
				<a href="#">Nach Exception-Typ</a>
			</li>
		</ul>

		<span id="tab1_content">
			<div class="row-fluid">
				<div class="span3">
					<label>Wert</label> 
					<select id="choose" multiple="multiple">
						<option value="requestCount">requestCount</option>
						<option value="responseTimeAvg">responseTimeAvg</option>
						<option value="exceptionsSum">exceptionsSum</option>
						<option value="dbConnectionsOpen">dbConnectionsOpen</option>
						<option value="dbConnectionsLeased">dbConnectionsLeased</option>
						<option value="gcCount">gcCount</option>
						<option value="gcTimeAvg">gcTimeAvg</option>
						<option value="loadAvg">loadAvg</option>
						<option value="threadCount">threadCount</option>
						<option value="testData">testData</option>
					</select>
				</div>
				<div class="span9">
					<span id="nodeBlock">
						<label>Node</label>
						<span id="chooseNodesSpinner">
							<img alt="loading" src="/assets/images/spinner.gif"/>
						</span>
						<select id="chooseNodes" multiple="multiple" >
						</select>
					</span>				
				</div>
			</div>
			
			<label>Nach Nodes gruppieren?</label>
			<input id="groupByNodes" type="checkbox" />
		</span>
		
		<span id="tab2_content">
			<div class="row-fluid">
				<div class="span3">
					<label>Wert</label> 
					<select id="chooseByRequestMethod" multiple="multiple">
						<option value="requestCount">requestCount</option>
						<option value="responseTime">responseTimeAvg</option>
					</select>
				</div>
				<div class="span3">
					<span id="chooseRequestMethodBlock">
						<label>Request-Methode</label>
						<span id="chooseRequestMethodSpinner">
							<img alt="loading" src="/assets/images/spinner.gif"/>
						</span>
						<select id="chooseRequestMethod" multiple="multiple" >
						</select>
					</span>	
				</div>
				<div class="span3">
					<span id="nodeBlockByRequestMethod">
						<label>Node</label>
						<span id="chooseNodesSpinnerByRequestMethod">
							<img alt="loading" src="/assets/images/spinner.gif"/>
						</span>
						<select id="chooseNodesByRequestMethod" multiple="multiple" >
						</select>
					</span>				
				</div>
			</div>	
			
			<label>Nach Nodes gruppieren?</label>
			<input id="groupByNodesByRequestMethod" type="checkbox" />
		</span>
		
		<span id="tab3_content">
			<div class="row-fluid">
				<div class="span3">
					<label>Wert</label> 
					<select id="chooseByExceptionType" multiple="multiple">
						<option value="exceptionsSum">exceptionsSum</option>
					</select>
				</div>
				<div class="span3">
					<span id="chooseExceptionTypeBlock">
						<label>Exception-Typ</label>
						<span id="chooseExceptionTypeSpinner">
							<img alt="loading" src="/assets/images/spinner.gif"/>
						</span>
						<select id="chooseExceptionType" multiple="multiple" >
						</select>
					</span>	
				</div>
				<div class="span3">
					<span id="nodeBlockByExceptionType">
						<label>Node</label>
						<span id="chooseNodesSpinnerByExceptionType">
							<img alt="loading" src="/assets/images/spinner.gif"/>
						</span>
						<select id="chooseNodesByExceptionType" multiple="multiple" >
						</select>
					</span>				
				</div>
			</div>	
			
			<label>Nach Nodes gruppieren?</label>
			<input id="groupByNodesByExceptionType" type="checkbox" />
		</span>
		<hr/>
				
		<label>Aufl&ouml;sung</label>
		<select id="chooseResolution" >
			<option id="resolutionMinute" value="MINUTE">Minute</option>
			<option id="resolutionHour" selected="selected" value="HOUR">Stunde</option>
			<option id="resolutionDay" value="DAY">Tag</option>
			<option value="MONTH">Monat</option>
			<option value="YEAR">Jahr</option>
		</select>
		
		<!-- TIMESTAMP -->
		<input type="text" id="timestamp1" value="@{initStartDate} 00:00:00" name="timestamp" style="display: none;">
		<input type="text" id="timestamp2" value="@{initEndDate} 00:00:00" name="timestamp" style="display: none;">
		
		<label>Ab Datum</label>
	    <span class="input-append">
		    <input type="date" id="id-date1" value="@initStartDate" class="input-medium" style="width:82px" ><span class="add-on"><i class="icon-calendar"></i></span>
		    <input type="time" id="id-time1" value="00:00:00" class="input-mini" ><span class="add-on"><i class="icon-time"></i></span>
        </span>
        
        <label>Bis Datum</label>
	    <span class="input-append">
		    <input type="date" id="id-date2" value="@initEndDate" class="input-medium" style="width:82px" ><span class="add-on"><i class="icon-calendar"></i></span>
		    <input type="time" id="id-time2" value="00:00:00" class="input-mini" ><span class="add-on"><i class="icon-time"></i></span>
        </span>

		<div class="form-actions">
			<img id="loadingButton" src="/assets/images/spinner.gif"/>
			<input class="btn btn-primary" type="button" id="loadDataButton" value="Daten aktualisieren" />
		</div>        
        
		<script type="text/javascript">
		
			function ts_id_onChange1() {
				ts_id_onChange("1");
				checkDisableResolutionMinute();
			}
			function ts_id_onChange2() {
				ts_id_onChange("2");
				checkDisableResolutionMinute();
			}
		
			function ts_id_onChange(id) {
				var date = $('#id-date' + id).val();
				var time = $('#id-time' + id).val();
				if (time=="") {
					time="00:00";
				}
				if (time.length==5) {
					time+=":00";
				}
				$('#timestamp' + id).val(date+" "+time);
			}
			$('#id-date1').change(ts_id_onChange1);
			$('#id-time1').change(ts_id_onChange1);
			
			$('#id-date2').change(ts_id_onChange2);
			$('#id-time2').change(ts_id_onChange2);
			
		</script>
		<!-- END-OF-TIMESTAMP -->
		<div id="placeholder" style="width: 100%; height: 300px">
		</div>
	</div>
</div>
<!--/span-->

}

<script>
	var PLOT_CONFIG = {
			xaxis: {
				mode: 'time',
				legend: { position: 'ne' }
// 				minTickSize: [30, "minute"],
// 				tickSize: [10, "minute"],
			},
			selection: { mode : "x" },
			series: {
				lines: { show: true}, 
				points: { show: true}
			},
			grid: { hoverable: true, clickable: true }
	};	
	
	var LOAD_CONFIG = {
		tab1 : {
			url: "/admin/reporting/ajax/stats",
			checkedByNodesId : "#groupByNodes",
			selectCriteriaId : "#choose",
			selectNodeId     : "#chooseNodes",
			filterIds : [ ], 
			loadedData: null
		},
		tab2 : {
			url: "/admin/reporting/ajax/statsByRequest",
			checkedByNodesId : "#groupByNodesByRequestMethod",
			selectCriteriaId: "#chooseByRequestMethod",
			selectNodeId     : "#chooseNodesByRequestMethod",
			filterIds : [
			             { 
			            	 id: "#chooseRequestMethod",
			            	 jsonName: "requestMethod"
			             }
			], 
			loadedData: null
		},
		tab3 : {
			url: "/admin/reporting/ajax/statsByException",
			checkedByNodesId : "#groupByNodesByExceptionType",
			selectCriteriaId : "#chooseByExceptionType",
			selectNodeId     : "#chooseNodesByExceptionType",
			filterIds : [
			             { 
			            	 id: "#chooseExceptionType",
			            	 jsonName: "exceptionType"
			             }
			],
			loadedData: null
		}
	};
	
	function createPlotData() {
		var conf = getCurrentLoadConfig();
		if (conf == null | ! defined(conf.loadedData)) return [ [ [], [] ] ];	
		
		// make private copy of config
		var copyFilterIds = conf.filterIds.slice();
		var criteriaValueList = $(conf.selectCriteriaId).val(); 
		
		// use nodes as criteria ? 
		var groupByNodes = $(conf.checkedByNodesId).attr("checked");
		if (groupByNodes) copyFilterIds.push({ id: conf.selectNodeId, jsonName: "nodeId" });
		
		var outerArr = [];
		var labels = []; 
		var hash = {};
		
		_.each(conf.loadedData, function(data) {
			var matches = 0;
			var filterGroupIndex = -1;
			
			_.each(copyFilterIds, function(filterIdConf) {
				filterGroupIndex++;
				
				_.each($(filterIdConf.id).val(), function(filterValue) {
					if (filterValue === data[filterIdConf.jsonName]) {
						matches++;
						labels[filterGroupIndex] = filterValue;
						// FIXME: continue to next filterGroup
					}
				});
			});
			if (matches === copyFilterIds.length) {
				var key = labels.join(" ");
				var arr = hash[key];
				if (! defined(arr)) {
					arr = [];
					hash[key] = arr; 
				}
				arr.push(data);
			}
		}); // data
			
		_.each(criteriaValueList, function(criteria) {
			for (key in hash) {
				var seqArr = [];
				var dataList = hash[key];
				
				_.each(dataList, function(data) {
					seqArr.push( [data["timestampMillis"], data[criteria] ]);
				});
	 			outerArr.push({
					data: seqArr, 
					label: criteria + " " + key 
				});					
			}
		});
		
		return outerArr; 
	}
	
	function defined(value) {
		if (value == null) return false;
		if (typeof value === 'undefined') return false; 
		return true;
	}
	
	function render() {
		var conf = getCurrentLoadConfig();
		if (conf.loadedData == null) loadData();
		$.plot($("#placeholder"), createPlotData(), PLOT_CONFIG);
	}
	
    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
    
	function pad(val) {
		if (val.toString().length === 1) return "0" + val; 
		return val;
	}    
    
    function formatDate(date) {
    	return date.getUTCDate() + "." + (date.getUTCMonth() +1 )+ "." + date.getUTCFullYear() + " " 
    		+ pad(date.getUTCHours()) + ":" + pad(date.getUTCMinutes()) + ":" + pad(date.getUTCSeconds());
    }
    
    function displayNodesSelection(nodeBlockId, checkboxId) {
    	var c = $("#" + nodeBlockId);
    	if ($("#" + checkboxId).attr("checked")) {
    		c.removeAttr("disabled");
    		c.fadeIn();
    	}
    	else {
    		c.attr("disabled", "disabled");
    		c.fadeOut();
    	}
    }
    
    function displayNodesTab1() {
    	displayNodesSelection("nodeBlock", "groupByNodes");
    }
    
    function displayNodesTab2() {
    	displayNodesSelection("nodeBlockByRequestMethod", "groupByNodesByRequestMethod");
    }

    function displayNodesTab3() {
    	displayNodesSelection("nodeBlockByExceptionType", "groupByNodesByExceptionType");
    }
    
    function getCurrentLoadConfig() {
    	var activeTab = $("ul.nav.nav-tabs").children("li.active").attr("id");
    	if (!defined(activeTab)) return null;
    	return LOAD_CONFIG[activeTab];
    }
    
    function dateToMillis(date) {
    	return Date.parse(date.replace(" ", "T"));
    }
    
    function checkDisableResolutionMinute() {
    	var diffMillis = dateToMillis($("#timestamp2").val()) - dateToMillis($("#timestamp1").val());
    	if (diffMillis > 1000 * 60 * 60 * 24) {
    		$("#resolutionMinute").attr("disabled", "disabled");
    		if ($("#chooseResolution").val() === "MINUTE") {
    			$("#resolutionDay").attr("selected", "selected");
    		} 
    	}
    	else {
    		$("#resolutionMinute").removeAttr("disabled");
    	}
    }
    
    function loadData() {
    	var conf = getCurrentLoadConfig();
    	
		$("#loadDataButton").hide();
		$("#loadingButton").show();   	
    	
		var resolution = $("#chooseResolution").val();
		var groupByNodes = $(conf.checkedByNodesId).attr("checked") ? '1' : '0';
		
		var fromDate = dateToMillis($("#timestamp1").val());
		var toDate = dateToMillis($("#timestamp2").val());	
		
		//FIXME: 
		dateError(fromDate);
		dateError(toDate);
		
		$.ajax({
			type : "GET",
			url : conf.url + "?from=" + fromDate + "&to=" + toDate + "&res=" + resolution + "&byNode=" + groupByNodes,
			success : function(data) {
				conf.loadedData = data;
				$("#loadingButton").hide();
				$("#loadDataButton").show();
				render();
			},
			complete: function() {
				$("#loadingButton").hide();
				$("#loadDataButton").show();
				
			}
		});
    }
    
    function dateError(value, id) {
    	if (! defined(value) || isNaN(value)) {
//     		$("#" + id).animate( {
//     		});
			alert("ungültiges Datum=" + value);
    	}
    }
    

	function handleTabClick(tabNr) {
		$("#tab" + tabNr).attr("class", "active");
		for ( var i = 1; i <= 3; i++) {
			if (i !== tabNr) {
				$("#tab" +i).removeAttr("class");
				$("#tab" +i + "_content").hide();
			}
		}
		$("#tab" + tabNr +"_content").fadeIn();
	}
	
	function loadTab2RequestMethods() {
		__loadList("/admin/reporting/ajax/methods", "chooseRequestMethodSpinner", "chooseRequestMethod");
	}
	
	function loadTab3ExceptionTypes() {
		__loadList("/admin/reporting/ajax/exceptions", "chooseExceptionTypeSpinner", "chooseExceptionType");
	}
	
	function __loadList(url, spinnerId, selectId) {
		$.ajax({
			type : "GET",
			url : url,
			success : function(data) {
				for ( var i = 0; i < data.length; i++) {
					$("#" + spinnerId).hide();
					$('#' + selectId).append('<option value="' + data[i] + '">' + data[i] + '</option>');
					$("#" + selectId).show();
				}
			}
		});
	}
	
	function loadNodeList() {
		$.ajax({
			type : "GET",
			url : "/admin/reporting/ajax/nodes",
			success : function(data) {
				$("#chooseNodesSpinner").hide();
				$("#chooseNodesSpinnerByRequestMethod").hide();
				$("#chooseNodesSpinnerByExceptionType").hide();
				
				for ( var i = 0; i < data.length; i++) {
					var content = '<option value="' + data[i] + '">' + data[i] + '</option>';
					$('#chooseNodes').append(content);
					$('#chooseNodesByRequestMethod').append(content);
					$('#chooseNodesByExceptionType').append(content);
					
				}
				$("#chooseNodes").show();
				$("#chooseNodesByRequestMethod").show();
				$("#chooseNodesByExceptionType").show();
			}
		});
	}
	
	function initialHide() {
		_.each([
		        "#tab2_content",
		        "#tab3_content",
		        "#loadingButton",
		        "#nodeBlock",
		        "#nodeBlockByRequestMethod",
		        "#nodeBlockByExceptionType",
		        "#chooseRequestMethod",
		        "#chooseExceptionType"
		        ], function(id) { $(id).hide(); });
	}
	
	function initialRegisterChange() {
		_.each([
				"#choose",
				"#chooseByRequestMethod",
				"#chooseByExceptionType",
				"#chooseRequestMethod",
				"#chooseExceptionType",
				"#chooseNodes",
				"#chooseNodesByRequestMethod",
				"#chooseNodesByExceptionType"
		        ], 
		        function(id) { $(id).change(render); });
	}
	
	function initialRegisterTabClick() {
		for ( var i = 1; i <= 3; i++) {
			$("#tab" +i).click((function(j) {
				return function() {
					handleTabClick(j);
				}
			})(i));
		}
	}
	
	function initialRegisterByNodesCheck() {
		$("#groupByNodes").change(function() {
			loadData();
			displayNodesTab1();
		});
		
		$("#groupByNodesByRequestMethod").change(function() {
			loadData();
			displayNodesTab2();
		});
		
		$("#groupByNodesByExceptionType").change(function() {
			loadData();
			displayNodesTab3();
		});		
	}

	$(document).ready(
			function() {
				
				initialRegisterTabClick();
				initialHide();
				initialRegisterChange();
				initialRegisterByNodesCheck();
		
				// add flot stuff 
				$.plot($("#placeholder"), createPlotData(), PLOT_CONFIG);

				var previousPoint = null;
				$("#placeholder").bind(
						"plothover",
						function(event, pos, item) {
							if (item) {
								if (previousPoint != item.dataIndex) {
									previousPoint = item.dataIndex;
									$("#tooltip").remove();
									var x = item.datapoint[0];
									var y = item.datapoint[1].toFixed(2);
									showTooltip(item.pageX, item.pageY,
											formatDate(new Date(x)) + " <b>"
													+ y + "</b>");
								}
							} else {
								$("#tooltip").remove();
								previousPoint = null;
							}
						});

				loadTab2RequestMethods();
				loadTab3ExceptionTypes();
				loadNodeList();

				$("#loadDataButton").click(function() {
					loadData();
				});

			});
</script>