@(dings : java.util.List[models.Ding])

@loggedin_main() {
    
      <div class="span9">
        <div class="hero-unit">
          <h1>Dinge!!!</h1>
          <p>Hier können Sie tolle Dinge bestellen! </p>
        </div>
      </div>
      
      <div class="span9">
      
        @for(ding <- dings) {
          <ul class="thumbnails">
            <li class="span3">
            
              <a class="thumbnail" href="@ding.id">
                <img  
                  @if(ding.image!=null && ding.image.thumbnail!=null) {
                    src="image/@ding.image.thumbnail.id"
                    alt="@ding.label" 
                    height="@ding.image.thumbnail.height" 
                    width="@ding.image.thumbnail.width" 
                  } else {
                    src="/assets/images/no_photo.jpg"
                  }
                />
              </a>
            </li>
          </ul>
        }
        
      </div>
    
}