@(searchForm : Form[search.DefaultSearchController.SearchForm], results : List[models.Ding], took: Float)

@import views.html.helper._ 
@import scala.collection.JavaConversions._ 
@import views.html.oc_helper._ 

@implicitFieldConstructor = @{ FieldConstructor(bootstrap2FieldConstructor.f) } 

@loggedin_main() {
    
      <div class="span9">
        <h1>Dinge!!! <small>Hier können Sie tolle Dinge bestellen! </small></h1>
      </div>
      
        <div class="span9">
        
            @flashmessages()
            
            <!--<form class="well form-search" method="post">-->
            @helper.form(action = controllers.site.routes.Application.index(), 'class -> "well form-search") {
                @inputText(
                  searchForm("query"), 
                  'placeholder -> "Suche", 
                  'class -> "input-large search-query"
                )
                <button type="submit" class="btn">Search</button>
            }
      </div>

      
        <div class="span9">
            <ul class="thumbnails">
              @for(ding <- results) {
              <li class="span3">
              
                <a class="thumbnail" href="ding/@ding.getId">
                  <img  
                    @if(ding.getImage!=null) {
                      src="/image/@ding.getImage.getThumbnail.getId"
                      alt="@ding.getLabel" 
                      height="@ding.getImage.getThumbnail.getHeight" 
                      width="@ding.getImage.getThumbnail.getWidth" 
                    } else {
                      src="/assets/images/no_photo.jpg"
                    }
                  />
                  
                  <div class="caption">
                    <h5>@ding.getLabel</h5>
                    <p>@ding.getDescription</p>
                    <p>@fmt(ding.getPrice) €</p>
                    <p>@fmt(ding.getUser.getLabel)</p>
                  </div>
                  
                </a>
              </li>
              }
            </ul>
          
        </div>
    <script>
    $(document).ready(function() {
      $("#query").focus();
    });
  </script>
    
}