@(implicit currentPage: com.avaje.ebean.Page[Ding], clist: CrudListState)

@import controllers.admin.routes 
@import views.html.helper._ 
@import views.html.oc_helper._ 

@implicitFieldConstructor = @{ FieldConstructor(bootstrap2FieldConstructor.f) } 

@views.html.admin.loggedin_main() {

  @crudList() {
      @header("name", "Name")
      @header("description", "Beschreibung")
      @header("special", "Special")
      @header("price", "Preis")
      @header("user.email", "Benutzer")
      @header("someDate", "Datum")
      @header("someTime", "Zeitpunkt")
      
  } { 
      @for(ding <- currentPage.getList) {
        <tr>
	      <td><a href="@clist.crudBaseUrl/@ding.getId">@ding.getName</a></td>
	      <td>@ding.getDescription</td>
	      <td>@fmt(ding.isSpecial)</td>
	      <td>@fmt(ding.getPrice)</td> 
	      <td>@elvis[User](ding.getUser,_.getEmail())</td>
	      <td>@fmt(ding.getSomeDate)</td> 
	      <td>@fmt(ding.getSomeTime)</td> 
        </tr>
      }
  }
}  

