@(implicit currentPage: com.avaje.ebean.Page[MvTestFeature], clist: CrudListState)

@import controllers.admin.routes 
@import views.html.helper._ 
@import views.html.oc_helper._ 

@implicitFieldConstructor = @{ FieldConstructor(bootstrap2FieldConstructor.f) } 

@views.html.admin.loggedin_main() {

  @crudList() {
      @header("name", "Name")
      @header("description", "Beschreibung")
      @header("start", "Start")
      @header("end", "Ende")
  } { 
      @for(feature <- currentPage.getList) {
        <tr>
	      <td><a href="@clist.crudBaseUrl/@feature.getId">@feature.getName</a></td>
	      <td>@feature.getDescription</td>
	      <td>@fmt(feature.getStartTime)</td> 
	      <td>@fmt(feature.getEndTime)</td> 
        </tr>
      }
  }
}  

