@(implicit currentPage: com.avaje.ebean.Page[User], clist: CrudListState)

@import controllers.admin.routes 
@import views.html.helper._ 
@import views.html.oc_helper._ 

@implicitFieldConstructor = @{ FieldConstructor(bootstrap2FieldConstructor.f) } 

@views.html.admin.loggedin_main() {

  @crudList() {
      @header("email", "E-Mail")
      @header("role", "Rolle")
      @header("firstname", "Vorname")
      @header("surname", "Nachname")
      @header("validated", "Validiert")
  } {
      @for(user <- currentPage.getList) {
        <tr>
	      <td><a href="@clist.getCrudBaseUrl/@user.getId">@user.getEmail</a></td>
	      <td>@user.getRole</td>
	      <td>@user.getFirstname</td>
	      <td>@user.getSurname</td>
	      <td>@fmt(user.isValidated)</td>
        </tr>
      }
  }
}  
